@import './Styles/Settings';

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  align-items: center;
}

.wrapper {
  width: 100%;
}

@media (min-width: $sm-wdith) {
  .wrapper {
    max-width: 350px;
  }
}
